.intro__container {
  max-width: calc((100%)  * (690/984)); 
}


@media screen and (max-width: 1279px) {
  .intro__container {
    max-width: calc(100% - (286px - 48px));
  }
}


@media screen and (max-width: 1023px) {
  .intro__container {
    max-width: 100%;
  }
}
